<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src = "/javascripts/jquery.min.js"></script>
    <script src = "/javascripts/jquery-ui.js"></script>
    <script src = "/javascripts/app.js"></script>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Londrina+Sketch' rel="stylesheet">
</head>
<body>
<div class = "container">
    <div class = "row">

        <div class = "col-md-12 loadingMsg" id = "loadingMsg">The page is
            <span id = "lo">lo</span>
            <span id = "ad">ad</span>
            <span id = "ing">ing</span>
        </div>
        <!--<div class = "col-md-6 " id = "loading">loading</div>-->
    </div>
</div>
</body>
</html>